name: Release Charts

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

#permissions:
#  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add helm dependencies
        run: |
          helm repo add fluent https://fluent.github.io/helm-charts

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1
        with:
          args: --skip-existing
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
